/* 
 FOOTER FOOTER FOOTER FOOTER */


 footer {
    min-height: 600px;
    background-color: #000000;
    
    
  }
  
  #footer-text {
    display: flex;
    color: #fff;
  flex-direction: column;
  font-size: 23px;
  }
  
  #footer-logo  {
    width: 400px;
  }
  
  #x-icon {
    width: 60px;
  }
  
  #insta-icon {
    width: 60px;
  }
  
  #linkedin-icon {
    width: 67px;
  }
  
  #youtube-icon {
    width: 64px;
    margin-left: 10px;
  }
  
  #socials {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  
  #socials img {
    margin-right: 20px;
  }
  
  #footer-buttons button {
    background-color: #525252;
    color: white;
    margin-right: 20px;
    max-width: 450px;
    padding: 20px 47px;
    border-radius: 70px;
    font-size: 30px;
    cursor: pointer;
    border: 2px solid white; 
    margin-top: 7px;
    font-family: "helvetica";
  }
  
  #footer-buttons h2 {
    color: #ffffff;
    font-size: 40px;
    margin-top: 45px;
    font-family: "helvetica";
  }
  
  #footer-contact p {
    color: white;
    font-size: 30px;
    font-family: "helvetica";
  }
  
  #footer-contact button {
    background-color: #696969;
    color: white;
    font-family: "helvetica";
    margin-right: 40px;
    max-width: 450px;
    
    padding: 20px 137px;
    border-radius: 70px;
    font-size: 30px;
    cursor: pointer;
    border: 2px solid white; 
    margin-top: 50px;
  }