
#brand {
    font-family: helvetica;
    
  }
  
  header {
    border-bottom: 2px solid #000000; 
    min-height: 70px;
    ;
  }
  
  header img {
   max-height: 70px;
   justify-content: flex-start;
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000000;
    font-family: Geneva;
  }
  